[
  {
    "user": "Istani",
    "name": "Sascha",
    "age": 31,
    "gender": 1,
    "city": "Germany",
    "type": 2,
    "message": "Be Friends!",
    "avatar": "//d33vud085sp3wg.cloudfront.net/cuKg-7pg6lPIIZ2ZPjCQB7YiaAc/thumb.jpg"
  }
]